.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 3px var(--black);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    padding: 0 1rem;
    height: 10rem;
    width: 100%;
    box-shadow: 0 0 5px var(--black);
}

.from {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    height: 3rem;
    width: 100%;
}

.subject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    padding: 0 1rem;
    height: 3rem;
    width: 100%;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    padding: 0 1rem;
    height: 3rem;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    height: 3rem;
    width: 100%;
}