.container {
  display: flex;
  flex-direction: column;
  height: 81vh;
  overflow: scroll;
}

.emailItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--black);
  cursor: pointer;
  scroll-behavior: auto;
  font-weight: 700;
}

.emailItemCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2%;
  cursor: pointer;
}

.emailItemSender {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  cursor: pointer;
}

.emailItemSubject {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 35%;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 1rem;
}

.emailItemBody {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 30%;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emailItemDateOrTime {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  cursor: pointer;
}
